<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.gwb.mapper.PtypeMapper">
    <select id="findContainENamePtype" resultType="org.jeecg.modules.gwb.entity.Ptype">
        SELECT *
        FROM ptype A
        WHERE A.pfullname LIKE '%e[0-9]%'
          AND A.pfullname NOT LIKE '%E[A-Z]%'
          AND A.pfullname NOT LIKE '%[A-Z]E%'
          AND A.pfullname NOT LIKE '%[0-9]E%'
          AND A.pfullname NOT LIKE '%[0-9,a-z]-E[0-9,a-z]%'
    </select>
</mapper>
