<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>同步管理</title>
    <link rel="stylesheet" href="./css/zui.min.css">
    <link rel="stylesheet" href="./css/3rd/jquery.page.css">
</head>
<body>
<div>
    <button onclick="changeAllE2CATName()">修改所有品名E到CAT</button>
    <div>
        <div>上一次商品信息更新时间：<span id="lastTimePtypeUpdate">加载中......</span></div>
        <div>上一次商品价格信息更新时间：<span id="lastTimePriceUpdate">加载中......</span></div>
        <!--        <button>更新商品信息</button>-->
        <!--        <button>更新价格信息</button>-->
        <div class="datagrid">
            <table id="dataTableGrid" class="table">
                <thead>
                <!--                <tr>-->
                <!--                    <th>...</th>-->
                <!--                    <th>...</th>-->
                <!--                </tr>-->
                </thead>
                <tbody>
                </tbody>
            </table>
            <div id="pager"></div>
        </div>
    </div>
</div>
</body>
<script src="./js/3rd/jquery-3.5.1.min.js"></script>
<script src="./js/3rd/zui.min.js"></script>
<script src="./js/3rd/jquery.page2.0.js"></script>
<script src="./js/Constants.js"></script>
<script src="./js/SyncManager.js"></script>
</html>
